#box-chat
  .title
    marquee|hello listened me!
  .buzon
    .listMsjs
      ul.messages
        li.buble|hello listened me!
        li.buble|Lorem ipsum dolor sit amet, consectetur adipisicing elit. Voluptatem, dolorum?
        li.buble|Lorem ipsum dolor sit amet,  Voluptatem, dolorum?
        li.buble|Lorem ipsum dolor sit amet, consectetur adipisicing elit. Cupiditate, neque.
  .input-text
    input(placeholder="mi mensaje")