.circle.colores.hide.pencil
  each style in ['background:#DB5B5B;','background:#F0820C;','background:#B4267C;','background:#AB3EE0;','background:#724AEA;','background:#DB5B5B;','background:#DB3333;','background:rgba(36,56,76,.9);','background:rgba(36,45,86,.9);','background:rgba(35,25,16,.9);','background:rgba(10,15,16,.9);','background:rgba(12,18,116,.9);','background:#433B49;']
    div
      span(style="#{style}")
.circle.tamano.hide
  each style in ['width:7px;height:7px;','width:11px;height:11px;','width:20px;height:20px;','width:35px;height:35px;','width:50px;height:50px;','width:55px;height:55px;','width:60px;height:60px;','width:65px;height:65px;','width:68px;height:68px;','width:70px;height:70px;','width:72px;height:72px;','width:79px;height:79px;','width:85px;height:85px;','width:92px;height:92px;']
    div
      span(style="#{style}")
.circle.eraser.hide
  each style in ['width:7px;height:7px;','width:20px;height:20px;','width:30px;height:30px;','width:40px;height:40px;','width:45px;height:45px;','width:7px;height:7px;','width:20px;height:20px;','width:30px;height:30px;','width:40px;height:40px;','width:45px;height:45px;','width:55px;height:55px;','width:58px;height:58px;','width:62px;height:62px;']
    div
      span(style="#{style}")
article.esquina-btn.colores-btn
  i.fa.fa-pencil.fa-1x
article.esquina-btn.eraser-btn
  i.fa.fa-eraser.fa-1x