/*
//:host hace referencia al elemento customizado  creado
en este caso a drv-chat
:host{
  display: inline-block;
}
*/
#box-chat {
  position: absolute;
  bottom: -19.7em;
  width: 14em;
  height: 22em;
  right: 22em;
  z-index: 5;
  color: rgba(65,65,65,1);
  -webkit-transition: bottom .45s ease-in-out;
  transition: bottom .45s ease-in-out;
}
#box-chat .title {
  background: rgba(21,217,118,.9);
  height: 2.3em;
  width: 100%;
  padding: .4em;
  border-top-left-radius: .2em;
  border-top-right-radius: .2em;
}
#box-chat .buzon {
  height: 17em;
  
}
#box-chat .buzon .slimScrollDiv{
  padding: 0em 0em;
}
#box-chat .buzon .listMsjs{
  height: 100%;
  padding: .5em .1em;
  background: rgba(250,252,240,1);
}
#box-chat .input-text {
  height: 2.4em;
  width: 100%;
  display: none;
}
#box-chat .input-text input {
  padding: .2em .4em;
  width: 100%;
  font-size: 1.3em;
  font-weight: 500;
  height: 100%;
  color: rgba(126,116,116,1);
  outline: none;
  font-family: 'Open Sans Condensed', sans-serif;
}
#box-chat .buzon .listMsjs .messages {

}
#box-chat:hover {
  bottom: -.3em;
  -webkit-transition: bottom .25s ease-in-out;
  transition: bottom .25s ease-in-out;
  
}
#box-chat:hover .input-text{
  display: block;
}
ul{
  padding: 0;
}
ul li {
  list-style-type: none;
  margin:0 0 .4em 0;
}
ul .buble {
  border-radius: 5px;
  list-style-type: none;
  padding: .6em;
  display: table;
  margin: 0em 9px;
  text-align: left;
  word-spacing: .3em;
  line-height: 1.3em;
  word-break:break-word;
  font-family: 'Open Sans Condensed', sans-serif;
}
ul .buble:not(:first-child):not(:first-child) {
  margin: 1.1em 9px;
}

ul .buble-left:after {
  content: "";
  width: 15px;
  height: 10px;
  background: transparent;
  border-top: 10px solid #9bc2e8;
  border-left: 1px solid transparent;
  border-right: 14px solid transparent;
  position: relative;
  top: 2.4em;
  left: 3%;
}
ul .buble-left{
  background: #9bc2e8;
}
ul .buble-right:after {
  content: "";
  width: 15px;
  height: 10px;
  background: transparent;
  border-top: 10px solid #EF9DB1;
  border-left: 14px solid transparent;
  border-right: 1px solid transparent;
  position: relative;
  top: 2.4em;
  left: 3%;
}
ul .buble-right{
  background: #EF9DB1;
}