extends layout
block content
	include includes/superior
	include includes/lateral-left
	include includes/globo
	include includes/radialColors
	include includes/lateral-right
	include includes/chat
	.date
	include includes/pencil+eraser
	//el fondo + los canvas(pizarra + interfaz de fabricjs)
	include includes/canvas