doctype html
html(ng-app="senseiApp")
  head
    title= title
    link(rel='stylesheet', href='/bower_components/malihu-custom-scrollbar-plugin/jquery.mCustomScrollbar.css')
    link(rel='stylesheet', href='/bower_components/components-font-awesome/css/font-awesome.min.css')
    link(rel='stylesheet', href='/stylesheets/dashboard.css')
    link(rel='stylesheet', href='/stylesheets/dashboard2.css')
    link(rel='stylesheet', href='/stylesheets/style.css')
  body
    block content
    script(src="/bower_components/firebase/firebase.js")
    script(src="/bower_components/angular/angular.min.js")
    script(src="/bower_components/angularfire/dist/angularfire.min.js")
    script(src="/javascripts/development/fabric.min.js")
    //agregado pues en nodejitsu(ya en deploy) no encuentra el archivo fabric.min.js .Error no identidficado?
    script(src="/bower_components/jquery/dist/jquery.min.js")
    script(src="/bower_components/malihu-custom-scrollbar-plugin/jquery.mCustomScrollbar.concat.min.js")
    script(src="/bower_components/slimScroll/jquery.slimscroll.js")
    script(src="/bower_components/simpleWebRTC/latest.js")
    script(src="/bower_components/URIjs/src/URI.min.js")
    script(src="/javascripts/development/effects.js")
    script(src="/javascripts/development/modules/clock.js")
    script(src="/javascripts/development/modules/eraser.js")
    script(src="/javascripts/development/modules/radialColors.js")
    script(src="/javascripts/development/modules/boxObjects.js")
    script(src="/javascripts/development/modules/pencil.js")
    script(src="/javascripts/development/dashboard.js")
    script(src="/javascripts/development/pizarra.js")
    script(src="/javascripts/development/script.js")
    script(src="/javascripts/development/videoconference.js")
    script(src="/javascripts/development/app/senseiapp.js")
    script(src="/javascripts/development/app/providers/pvrChargeObjects.js")
    script(src="/javascripts/development/app/senseiapp.config.js")
