doctype html
html
  head
    title= title
    link(rel='stylesheet', href='/bower_components/malihu-custom-scrollbar-plugin/jquery.mCustomScrollbar.css')
    link(rel='stylesheet', href='/bower_components/components-font-awesome/css/font-awesome.min.css')
    link(rel='stylesheet', href='/stylesheets/dashboard.css')
    link(rel='stylesheet', href='/stylesheets/dashboard2.css')
    link(rel='stylesheet', href='/stylesheets/style.css')
  body
    block content
    script(src="/bower_components/firebase/firebase.js")
    script(src="/bower_components/fabric/dist/fabric.min.js")
    script(src="/bower_components/jquery/dist/jquery.min.js")
    script(src="/bower_components/malihu-custom-scrollbar-plugin/jquery.mCustomScrollbar.concat.min.js")
    script(src="/bower_components/slimScroll/jquery.slimscroll.js")
    script(src="/bower_components/malihu-custom-scrollbar-plugin/jquery.mCustomScrollbar.concat.min.js")
    script(src="http://simplewebrtc.com/latest.js")
    //script(src="/bower_components/simpleWebRTC/latest.js")
    script(src="/javascripts/development/effects.js")
    script(src="/javascripts/development/dashboard.js")
    script(src="/javascripts/development/pizarra.js")
    script(src="/javascripts/development/script.js")
    script(src="/javascripts/development/videoconference.js")