/* latin */
@font-face {
  font-family: 'Open Sans Condensed';
  font-style: normal;
  font-weight: 300;
  src: local('Open Sans Cond Light'), local('OpenSans-CondensedLight'), url(/stylesheets/fonts/openSansCondensed.woff2) format('woff2');
  unicode-range: U+0000-00FF, U+0131, U+0152-0153, U+02C6, U+02DA, U+02DC, U+2000-206F, U+2074, U+20AC, U+2212, U+2215, U+E0FF, U+EFFD, U+F000;
}

	*{
		margin: 0;
		border:0;
		padding: 0;
	}
	html{
		position: relative;
		height: 100%;
	}
	body{
		position: relative;
  background-color: #F2F1F0;
		color: black;
		width: 100%;
		height: 100%;
		font-family: 'Open Sans Condensed', sans-serif;
	}

		#caja{
			position: absolute;
			box-shadow: inset 0 0 2em;
			width: 100%;
			height: 100%;	
		}

		.fondo-pizarra {
		  background-color: #fff;
		  background-image: linear-gradient(rgba(107,107,107,.3) 1px ,transparent 1px),
		 	                  linear-gradient(90deg,rgba(107,107,107,.3) 1px,transparent 1px),
		 	                  linear-gradient(rgba(107,107,107,.3) 1px,transparent 1px),
		 	                  linear-gradient(90deg,rgba(107,107,107,.3) 1px,transparent 1px);
		  background-size: 100px 100px,100px 100px,20px 20px,20px 20px;
		  background-position: -2px -2px,-2px -2px, -1px -1px, -1px -1px;
				position: absolute;
				z-index: 1;
				width: 100%;
				height: 100%;
		}	
		#settingBox {
			position: absolute;
			top:0;
			bottom: 0;
			left:0;
			right: 0;
			padding: .5em;
			margin: auto;
			width:15rem;
			height: 25em;
			background: rgba(46,202,41,.7);
			font-size: 1em;
			font-family: 'Open Sans Condensed', sans-serif;
			text-align: left;
			color:#333;
			opacity: .6;
			-webkit-transition: all .55s ease;
   transition: all .55s ease;
		}

		.hide {
			visibility: hidden;
			display: none;
			-webkit-transition: all .55s ease;
   transition: all .55s ease;
		}
		.show {
			visibility: visible;
			display: block;
			-webkit-transition: all .55s ease;
   transition: all .55s ease;
		}

		#blackboard{
  	display: block;
			background: transparent;
			position: absolute;
			z-index: 2;
		}
		#objetos {
			display: block;
			background: transparent;
			position: absolute;
		}
		.canvas-container {
			position: absolute;
			z-index: 3;
		}

		#wrap{
			padding: 0em;
		}